$box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
$white: #fff;
$main-color: #3b5999;

.blue-container {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #f3f3f3;
  font-size: 12px;
  border: 1px solid rgba(0,0,0,.14);
  overflow: auto;
  padding-bottom: 1rem;

  .header-container {
    width: 100%;
    color: $white;
    background-color: #3b5999;
    box-shadow: $box-shadow;
    position: relative;
    height: 1.2rem;
    direction: rtl;
    &::before {
      content: "";
      width: 100%;
      height: 30%;
      background-color: $white;
      box-shadow: $box-shadow;
      position: absolute;
      bottom: -30%;
    }
    .name {
      font-size: .5rem;
      margin-right: .44rem;
      padding-top: .15rem;
    }
    .label {
      font-size: .2rem;
      margin-right: .44rem;
    }
    .avatar {
      width: 1.2rem;
      height: 1.2rem;
      box-shadow: $box-shadow;
      position: absolute;
      left: 4%;
      top: .15rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .education {
    width: 45%;
    box-shadow: $box-shadow;
    display: inline-block;
    margin-top: 8%;
    margin-left: 2%;
    background-color: $white;
    padding: 2%;
    position: relative;
    min-height: 2.05rem;
    .line {
      position: relative;;
      &::before {
        content: "";
        background-color: $main-color;
        left: .168rem;
        top: 0;
        width: 3px;
        height: 100%;
        position: absolute;
        box-shadow: $box-shadow;
      }
      &::after {
        content: "";
        padding: 0.18rem;
        border-radius: 50%;
        background-color: $main-color;
        top: .12rem;
        position: absolute;
        box-shadow: $box-shadow;
      }
    }
    .label {
      font-size: .18rem;
      background-image: url('../../assets/Icon.png');
      background-repeat: no-repeat;
      background-size: .36rem;
      padding-left: .48rem;
      line-height: .36rem;
    }
    .study-type {
      display: inline-block;
      font-size: .16rem;
      padding-right: .156rem;
      margin: .156rem .48rem;
      border-right: 2px solid #898686;
    }
    .date {
      display: inline-block;
      background-color: $main-color;
      color: $white;
      font-size: .12rem;
      padding: 0 .12rem;
      box-shadow: $box-shadow;
    }
    .university {
      font-size: .3rem;
      margin-left: .48rem;
    }
    .profession {
      margin-left: .48rem;
    }
  }

  .contact {
    width: 35%;
    box-shadow: $box-shadow;
    float: right;
    margin-top: 8%;
    margin-right: 3%;
    background-color: $white;
    padding: .24rem;
    font-size: .15rem;
    line-height: .36rem;
    .label {
      font-size: .18rem;
      background-image: url('../../assets/contact.png');
      background-repeat: no-repeat;
      background-size: .36rem;
      padding-left: .48rem;
      line-height: .36rem;
    }
    .email {
      background: url('../../assets/email.png');
      background-repeat: no-repeat;
      background-size: .168rem;
      background-position: .12rem;
      padding-left: .48rem;
    }
    .weibo {
      background: url('../../assets/weibo.png');
      background-repeat: no-repeat;
      background-size: .168rem;
      background-position: .12rem;
      padding-left: .48rem;
    }
    .weixin {
      background: url('../../assets/weixin.png');
      background-repeat: no-repeat;
      background-size: .168rem;
      background-position: .12rem;
      padding-left: .48rem;
    }
    .github {
      background: url('../../assets/github.png');
      background-repeat: no-repeat;
      background-size: .168rem;
      background-position: .12rem;
      padding-left: .48rem;
    }
  }

  .work {
    width: 45%;
    box-shadow: $box-shadow;
    display: inline-block;
    margin-top: 4%;
    margin-left: 2%;
    background-color: $white;
    padding: 2%;
    position: relative;
    .label {
      font-size: .18rem;
      background-image: url('../../assets/work.png');
      background-repeat: no-repeat;
      background-size: .36rem;
      padding-left: .48rem;
      line-height: .36rem;
    }
    .line {
      position: relative;;
      &::before {
        content: "";
        background-color: $main-color;
        left: .168rem;
        top: 0;
        width: 3px;
        height: 100%;
        position: absolute;
        box-shadow: $box-shadow;
      }
      &::after {
        content: "";
        padding: 0.18rem;
        border-radius: 50%;
        background-color: $main-color;
        top: .12rem;
        position: absolute;
        box-shadow: $box-shadow;
      }
    }
    .company {
      display: inline-block;
      font-size: .14rem;
      padding-right: .156rem;
      margin: .24rem .12rem .24rem .48rem;
      border-right: 2px solid #898686;
    }
    .date {
      display: inline-block;
      background-color: $main-color;
      color: $white;
      font-size: .12rem;
      padding: 0 .12rem;
      box-shadow: $box-shadow;
    }
    .position {
      color: #898686;
      font-size: .15rem;
      margin-left: .48rem;
      font-weight: bold;
    }
    .description {
      margin-left: .48rem;
      line-height: .2rem;
      font-size: .14rem;
      margin-top: .12rem;
    }
  }
  .projects {
    width: 45%;
    box-shadow: $box-shadow;
    display: inline-block;
    margin-top: 2%;
    margin-left: 2%;
    background-color: $white;
    padding: 2%;
    position: relative;
    .line {
      position: relative;
      padding-top: .2rem;
      &::before {
        content: "";
        background-color: $main-color;
        left: .168rem;
        top: 0;
        width: 3px;
        height: 100%;
        position: absolute;
        box-shadow: $box-shadow;
      }
      &::after {
        content: "";
        padding: 0.18rem;
        border-radius: 50%;
        background-color: $main-color;
        top: .12rem;
        position: absolute;
        box-shadow: $box-shadow;
      }
    }
    .label {
      font-size: .18rem;
      background-image: url('../../assets/projects.png');
      background-repeat: no-repeat;
      background-size: .36rem;
      padding-left: .48rem;
      line-height: .36rem;
    }
    .name {
      font-size: .18rem;
      padding-right: .156rem;
      margin: .06rem;
      margin-left: .48rem;
      font-weight: bold;
    }
    .link {
      background-color: $main-color;
      line-height: .24rem;
      margin-left: .48rem;
      direction: rtl;
      box-shadow: $box-shadow;
    }
    a {
      background-color:  $white;
      color: $main-color;
      font-size: .12rem;
      padding: 0 .12rem;
      box-shadow: $box-shadow;
      text-decoration: none;
      margin-right: .12rem;
      line-height: .18rem;
      vertical-align: middle;
    }
    .description {
      margin-left: .48rem;
      line-height: .2rem;
      font-size: .14rem;
      margin-top: .12rem;
    }
  }

  .skills {
    width: 35%;
    box-shadow: $box-shadow;
    vertical-align: top;
    float: right;
    margin-top: 4%;
    margin-right: 3%;;
    background-color: $white;
    padding: .24rem;
    font-size: .15rem;
    line-height: .36rem;
    .label {
      font-size: .18rem;
      background-image: url('../../assets/skills.png');
      background-repeat: no-repeat;
      background-size: .36rem;
      padding-left: .48rem;
      line-height: .36rem;
    }
    .name {
      color: $white;
      background-color: $main-color;
      font-size: .18rem;
      text-align: center;
      box-shadow: $box-shadow;
      margin-top: .12rem;
    }
    .key {
      color: #898686;
      font-size: .16rem;
      margin-top: .12rem;
    }
    .description {
      margin-left: .18rem;
      font-size: .12rem;
      line-height: .18rem;
    }
  }
}
